.main-page{

  .top-main-overflow-wrapper{
    position: relative;
    margin: -260px 0 50px 0;
    z-index: 2;
  }

  .top-overflow-wrapper{
    position: relative;
    margin: -170px 0 50px 0;
    z-index: 2;
  }

  .top-small-overflow-wrapper{
    position: relative;
    margin: -115px 0 50px 0;
    z-index: 2;
  }

}



@include media-breakpoint-down(md) {
  .main-page{

    .top-overflow-wrapper{
      &.second-col{
        margin: 0 0 50px 0;
      }
    }


  }
}
