.instructions{

  .instruction{
    padding: 30px 0 30px 0;
    &.block{
      text-align: center;
      color: theme-color("dark");
      .text{
        font-weight: 400;
      }
    }

    &.image{
      color: theme-color("dark");
      .screenshot{
        margin-top: 10px;
        @include box-shadow(0 0 12px 0 rgba(0,0,0,0.2));
      }
    }
  }
}
